:root{
    --marino: #024959;
    --ciano: #0396a6;
    --verde: #04bf9d;
    --verdeagua:rgb(0, 255, 255);
    --cinza: #d8d8d6;
    --branco:#ffffff;
    --vermelho:#cc0000;
    
    /* Gradientes */
    --gradiente1: linear-gradient(135deg, var(--verde) 10%, var(--ciano) 70%);
    --gradiente2: linear-gradient(135deg, var(--marino) 0%, var(--ciano) 100%);
    --gradiente3: linear-gradient(135deg, var(--verde) 0%, var(--marino) 100%);
    --dourado: linear-gradient(150deg, #F2CF66 0%, #D9A84E 25%, #8C5E26 50%, #BF843B 75%, #73461F 100%);
    

    /* Transparentes */
    --transparente1: rgb(216, 216, 214, 60%);
    --transparente2: rgb(25, 25, 25, 10%);
    --transparente3: rgb(25, 25, 25, 60%);
}