:root{
    --marino: #024959;
    --ciano: #0396a6;
    --verde: #04bf9d;
    --cinza: #d8d9d7;
    --branco:#ffffff;
    
    /* Gradientes */
    --gradiente1: linear-gradient(90deg, var(--verde) 10.97%, var(--ciano) 69.39%);
    --gradiente2: linear-gradient(133deg, var(--marino) 0%, var(--ciano) 100%);

    /* Transparentes */
    --transparente1: rgb(216, 216, 214, 60%);
}