/* Configurações de fonte, margem e preenchimento da página */
@import url("./main.css");

/* Importando as cores */
@import url("/frontend/css/color.css");

/* Importando componentes */
@import url("/frontend/css/components/navbar.css"); /* navbar */
@import url("/frontend/css/components/button.css"); /* botão */
@import url("/frontend/css/components/home-card.css"); /* card da tela home */
@import url("/frontend/css/components/sobre-card.css"); /* card da tela sobre */
@import url("/frontend/css/components/navCadastro.css"); /* navbar (cadastro cliente) */
@import url("/frontend/css/components/navLogin.css"); /* navbar (login) */
@import url("/frontend/css/components/input.css"); /* input */
@import url("/frontend/css/components/option.css"); /* option */
@import url("/frontend/css/components/filterButton.css"); /* botão de filtro */
@import url("/frontend/css/components/plusButton.css"); /* botão com o sinal de + */
@import url("/frontend/css/components/modal.css"); /* modal */
@import url("/frontend/css/components/label.css"); /* label */
@import url("/frontend/css/components/cards.css"); /* cards */
@import url("/frontend/css/components/table.css"); /* tabela */
@import url("/frontend/css/components/loader.css"); /* loader */
@import url("/frontend/css/components/header.css"); /* cabeçalhos das telas de funcionário e criar consultas */


/* Importando estilização das telas */
@import url("/frontend/css/styles/home.css"); /* home */
@import url("/frontend/css/styles/cadastroCliente.css"); /* cadastro cliente */
@import url("/frontend/css/styles/login.css"); /* login */
@import url("/frontend/css/styles/sobre.css"); /* sobre */
@import url("/frontend/css/styles/listarFuncionarios.css"); /* listar funcionários */
@import url("/frontend/css/styles/criarConsulta.css"); /* criar consultas */
@import url("/frontend/css/styles/agendarConsulta.css"); /* Agendar consulta */
@import url("/frontend/css/styles/minhasConsultas.css"); /* Minhas Consultas */
@import url("/frontend/css/styles/relatorio.css"); /* Relatório */
@import url("/frontend/css/styles/error.css"); /* Erro */
@import url("/frontend/css/styles/esqueciSenha.css"); /* esqueci senha */
@import url("/frontend/css/styles/perfil.css");
