.cad-main{
    width: 100vw;
    height: 100vh;
    background: var(--gradiente1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cad-box{

    width: 30vw;
    min-height: 520px;
    height: 55vh;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.611);
    
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cad-user-titulo{
    color: var(--marino);
}

.cad-user-button{
    background-color: var(--marino);
    color: var(--branco);
    margin-top: 20px;
}

.cad-user-button:active{
    background-color: var(--verde);
    color: var(--marino);
}

.cad-box-senha{

    width: 100%;
    
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.cad-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.cad-form input {
    width: 100%;
}

.div-senha-cad-user{
    position: relative;
}

.div-senha-cad-user img{
    position: absolute;
    right: 1%;
    top: 25%;
    cursor: pointer;
}

label{
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .cad-box{
        margin-top: 50px;
        height: 45vh;
        width: 80%;
    }


}