.criaConsulta-conteudo{
    margin-top: 7rem;
}

.criaConsulta-filter{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;

    background-color: var(--marino);
}

.criaConsulta-box-button{
    margin-left: 5rem;
    margin-bottom: 3rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.criaConsulta-filter-row{
    width: 90%;

    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
}



/* Seção onde serão exibidas as consultas */
.criaConsulta-container{
    width: 100%;
    height: 15rem;
    z-index: -1;

    background-color: var(--cinza);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3) inset;
}