/* Seção onde estão presentes as proimeiras informaçõs e a primeira imagem */
#home_presentation{
    position: relative;
    top: 0;
    z-index: -1;
}

#home_img{
    width: 100%;
    height: auto;

    margin-bottom: 5rem;
}

#home_img_info{
    margin-top: 15%;
    margin-left: 5rem;

    position: absolute;
    top: 0;
    z-index: 3;
}

#home_img_title{
    display: flex;
    align-items: end;
}

#home_h2{
    font-size: 40px;
    color: var(--branco);

    margin-bottom: 0.9rem;
    margin-right: 10px;
}

#home_h1{
    font-size: 100px;
    color: var(--verde);
}

#home_img_btn{
    margin-top: 25%;
    margin-left: 5rem;
    
    font-weight: bold;
    color: var(--branco);
    
    position: absolute;
    top: 0;
    z-index: 0;
    
    border: none;
    background-color: var(--verde);
}

/* Seção onde estarão os serviços oferecidos */
#home_services{
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-color: var(--cinza);
    border-radius: 20px;
}

#home_services_maintitle{
    font-size: 40px;
    color: var(--marino);
}

#home_services_title_container{
    width: 90%;
    padding: 10px;
    margin-top: 2rem;

    display: flex;
    align-self: center;

    border-bottom: 2px solid var(--marino);
}

.home-services-row{
    width: 90%;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
}

.home-services-column{
    width: 40%;
    margin-top: 2rem;
}

.home-services-title{
    font-size: 30px;
    color: var(--verde);

    margin-top: 15px;
    margin-bottom: 15px;
}

.home-services-text{
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
}

#home_services_btn{
    margin-left: 6rem;
    margin-top: 2rem;

    color: var(--branco);
    font-weight: bold;

    background: var(--gradiente1);
    border: none;
}

/* Seção onde estarão os princípios da Dentech */
#home_principles{
    width: 100%;
    margin-top: 5rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--gradiente2);
}

#home_principles_title{
    font-size: 50px;
    color: var(--verde);

    padding: 4rem;
}

#card_row{
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home_principles_button{
    margin: 2rem;
    font-weight: bold;
    color: var(--branco);
    
    border: none;
    background: var(--gradiente3);
}

/* Animações dos botões */
.home-btn:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

/* Responsividade */
@media(max-width: 1112px){
    /* Título da imagem */
    #home_h2{
        font-size: 30px;
    }

    #home_h1{
        font-size: 80px;
    }
}




@media(max-width: 850px){
    /* Alteração da seção da imagem */
    #home_img{
        display: none;
    }

    #home_img_info{
        position: static;
        margin-top: 8rem;

        margin-left: 10%;
    }

    #home_img_btn{
        position: relative;
        margin-top: 5px;
        margin-bottom: 2rem;
        margin-left: 10%;
    }

    #home_h2{
        color: var(--marino);
    }

    /* Alteração na seção de serviços */
    #home_services{
        width: 100%;
        border-radius: 0;
        margin-bottom: 2rem;
    }

    #home_services_maintitle{
        font-size: 25px;
    }

    .home-services-row{
        flex-direction: column !important;
        margin-bottom: 0;
    }

    .home-services-column{
        width: 90%;
        align-self: center;

        margin-bottom: 2rem;
        padding: 1rem;
        
        border-radius: 20px;
        background-color: var(--transparente2);
    }

    #home_services_btn{
        margin: 0 auto;
        
        display: flex;
        align-self: center;
        justify-self: center;
    }

    /* Alteração no título da seção de princípios */
    #home_principles_title{
        font-size: 25px;
    }
}



@media(max-width: 720px){
    /* Alteração na linha dos cards */
    #card_row{
        flex-direction: column;
        align-items: center;
    }
}



@media(max-width: 675px){
    /* Alteração no título da imagem */
    #home_img_title{
        flex-direction: column;
        align-items: start;
        margin-bottom: 2rem;
    }

    #home_h2{
        font-size: 20px;
        margin: 0;
    }
    
    #home_h1{
        font-size: 50px;
    }
}