/* Seção onde estão presentes as proimeiras informaçõs e a primeira imagem */
#home_presentation{
    position: relative;
    top: 0;
    z-index: -1;
}

#home_img{
    width: 100%;
    height: auto;

    margin-bottom: 5rem;
}

#home_img_info{
    margin-top: 17rem;
    margin-left: 5rem;

    position: absolute;
    top: 0;
    z-index: 3;
}

#home_img_title{
    display: flex;
    align-items: end;
}

#home_h2{
    font-size: 40px;
    color: var(--branco);

    margin-bottom: 0.9rem;
    margin-right: 10px;
}

#home_h1{
    font-size: 100px;
    color: var(--verde);
}

#home_img_btn{
    margin-top: 25rem;
    margin-left: 5rem;
    
    font-weight: bold;
    color: var(--branco);
    
    position: absolute;
    top: 0;
    z-index: -1;
    
    border: none;
    background-color: var(--verde);
}

/* Seção onde estarão os serviços oferecidos */
#home_services{
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-color: var(--cinza);
    border-radius: 20px;
}

#home_services_maintitle{
    font-size: 40px;
    color: var(--marino);
}

#home_services_title_container{
    width: 90%;
    padding: 10px;
    margin-top: 2rem;

    display: flex;
    align-self: center;

    border-bottom: 2px solid var(--marino);
}

.home-services-row{
    width: 90%;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
}

.home-services-column{
    width: 40%;
    margin-top: 2rem;
}

.home-services-title{
    font-size: 30px;
    color: var(--verde);

    margin-top: 15px;
    margin-bottom: 15px;
}

.home-services-text{
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
}

#home_services_btn{
    margin-left: 6rem;
    margin-top: 2rem;

    color: var(--branco);
    font-weight: bold;

    background: var(--gradiente1);
    border: none;
}

/* Seção onde estarão os princípios da Dentech */
#home_principles{
    width: 100%;
    margin-top: 5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--gradiente2);
}

#home_principles_title{
    font-size: 50px;
    color: var(--verde);

    padding: 4rem;
}

#card_row{
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home_principles_button{
    margin: 2rem;
    font-weight: bold;
    color: var(--branco);
    
    border: none;
    background: var(--gradiente3);
}