/* 
    --------------------------------------------------------------------------------------------------
                                Sessão de pesquisa
    --------------------------------------------------------------------------------------------------
*/

.section-funcionarios{
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    position: relative;
}

.div-pesquisa-funcionarios{

    width: 100%;
    height: 35vh;
    margin-top: 120px;


}

.div-pesquisa-funcionarios h1{
    color: var(--marino);
    font-size: 42px;
    margin-top: 35px;
    margin-left: 30px;
}

.div-input-pesquisa-btn{
    margin-top: 25px;
    margin-left: 30px;
    position: relative;
    width: fit-content;
}

.barra-pesquisa-func{
    width: 45vw;
    font-size: 18px;
    padding-left: 15px;
}

.btn-pesquisar-func{

    width: 15%;

    position: absolute;
    top: 1.4px;
    right: 1px;

    padding: 9.6px;

    background-color: var(--marino);

    border: none;
    

    border-radius: 0 15px 15px 0;
    transition: -1s;
}

.btn-pesquisar-func:active{
    background-color: var(--verde);
    color: var(--marino);
    border: 2px solid var(--marino);
}

/* 
    --------------------------------------------------------------------------------------------------
                                Botão cadastro de funcionários
    --------------------------------------------------------------------------------------------------
*/

.div-btn-cad-func{
    width: fit-content;
    display: flex;
    margin-top: 35px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.div-btn-cad-func p:hover{
    color: var(--marino);
    text-decoration: underline;
}

.btn-modal-cad-func{
    margin-left: 30px;
    transition: transform 0.5s ease;
}

.div-btn-cad-func:not(:hover) .btn-modal-cad-func  {
    transform: rotate(0deg); /* Garantindo que a transformação seja aplicada quando o mouse não está sobre a div */
    animation: girar180Reverso 0.5s ease-in-out;
}

.div-btn-cad-func:hover .btn-modal-cad-func {
    animation: girar180 0.5s ease-in-out;
}

/* 
    --------------------------------------------------------------------------------------------------
                                    Filtros
    --------------------------------------------------------------------------------------------------
*/

.div-filtros-func{
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);

    position: relative;
    z-index: 1;
}

.filtro-func{
    width: 100%;
    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
    font-weight: 600;
    color: var(--marino);

    cursor: pointer;

    transition: 0.3s ease-in-out;
}

.filtro-ativo{
    background-color: var(--marino);
    color: var(--branco);
}

.filtro-func:hover{
    background-color: var(--verde);
    color: var(--marino);
    transition: 0.3s ease-in-out;
}

/* 
    --------------------------------------------------------------------------------------------------
                                    Exibição dos funcionários
    --------------------------------------------------------------------------------------------------
*/

.div-exibir-func{
    width: 100%;
    min-height: 90vh;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-func{
    width: 300px;
    height: 330px;
    margin: 30px 20px 30px 20px;
    background-color: var(--branco);
    border-radius: 10px;
    border-top: 10px solid var(--marino);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-func-inativo{
    width: 330px;
    height: 310px;
    margin: 30px 20px 30px 20px;
    background-color: var(--branco);
    border-radius: 10px;
    border-top: 10px solid var(--vermelho);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.titulo-card-nome-func{
    margin: 20px;
    font-size: 26px;
}

.p-email-func{
    margin: 20px;
    font-size: 18px;
}

.p-cargo-func{
    margin: 20px;
    font-size: 18px;
}

.div-card-func-btn{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-modal-editar-func{
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    color: var(--marino);
    border: 5px solid var(--marino);
    font-size: 22px;
    cursor: pointer;
}

.btn-demitir-func{
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    color: var(--vermelho);
    border: 5px solid var(--vermelho);
    font-size: 22px;
    cursor: pointer;
}

.btn-modal-editar-func:hover{
  
    background-color: var(--marino);
    color: var(--branco);
    transition: 0.2s ease;
}

.btn-demitir-func:hover{
    background-color: var(--vermelho);
    color: var(--branco);
    transition: 0.2s ease;
}

.btn-modal-editar-func:active{
    width: 35%;
}

.btn-demitir-func:active{
    width: 35%;
}

/* 
    --------------------------------------------------------------------------------------------------
                                    MODAL CADASTRO FUNCIONÁRIO.
    --------------------------------------------------------------------------------------------------
*/

.div-modal-cad-func{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.797);
}

.modal-cad-func{

    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gradiente2);
    display: flex; /* Flex */
    flex-direction: column;
    z-index: 1;
    padding: 30px;
    color: var(--branco);
    border-radius: 15px;
    

}

.modal-cad-func label{
    color: var(--branco);
}

.modal-cad-func div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-cadastrar-func{
    width: 150px;
    margin-right: 10px;
    background-color: var(--marino);
    color: var(--branco);
}

.btn-cadastrar-func:hover{
    background-color: var(--verde);
    color: var(--marino);
}

.btn-cadastrar-func:active{
    background-color: var(--branco);
    transition: 0;
}

.btn-cancelar-cadastro-func:active{
    background-color: var(--branco);
    color: var(--vermelho);
}

/* 
    --------------------------------------------------------------------------------------------------
                                    MODAL EDITAR FUNCIONÁRIO.
    --------------------------------------------------------------------------------------------------
*/

.div-modal-editar-func{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.797);
}

.modal-editar-func{
    width: 30vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gradiente2);
    display: flex; /* Flex */
    flex-direction: column;
    z-index: 1;
    padding: 30px;
    color: var(--branco);
    border-radius: 15px;
}

.modal-editar-func label{
    color: var(--branco);
}

.modal-editar-func div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-editar-func{
    width: 150px;
    margin-right: 10px;
    background-color: var(--marino);
    color: var(--branco);
}

.btn-editar-func:hover{
    background-color: var(--verde);
    color: var(--marino);
}

.btn-editar-func:active{
    background-color: var(--branco);
    transition: 0;
}

.btn-cancelar-editar-func:active{
    background-color: var(--branco);
    color: var(--vermelho);
}

/* 
    --------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES
    --------------------------------------------------------------------------------------------------
*/

@media (max-width: 1045px) {
    .modal-cad-func{
        width: 70vw;
    }

    .modal-editar-func{
        width: 70vw;
    }
}

@media (max-width: 750px) {
    .barra-pesquisa-func{
        width: 80vw;
    }

    .btn-pesquisar-func{

        width: 20%;

    }

}

@media (max-width: 450px){
    .modal-cad-func{
        width: 85%;
        top: 50%;
    }

    .modal-editar-func{
        width: 85%;
        top: 50%;
    }
}


/* 
    --------------------------------------------------------------------------------------------------
                                    ANIMAÇÕES
    --------------------------------------------------------------------------------------------------
*/

@keyframes girar180 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}
  

@keyframes girar180Reverso {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

