.login-main{
    width: 100vw;
    height: 100vh;
    background: var(--gradiente3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 30vw;
    min-height: 520px;
    height: 55vh;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.493);
    
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-titulo{
    color: var(--marino);
}



.login-user-button{
    background-color: var(--marino);
    color: var(--branco);
    margin-top: 35px;
    width: 150px;
}

.login-user-button:active{
    background-color: var(--verde);
    color: var(--marino);
}

.login-box-senha{

    width: 100%;
    
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.login-form input {
    width: 100%;
    margin-bottom: 8px;
}

.div-senha-login-user{
    position: relative;
}

.div-senha-login-user img{
    position: absolute;
    right: 1%;
    top: 15%;
    cursor: pointer;
}

#link-esqueci-senha{
    color: var(--marino);
    margin: 10px;
}

#link-login-cadastro-cliente{
    color: var(--marino);
}


@media (max-width: 1024px) {
    .login-box{
        margin-top: 50px;
        height: 45vh;
        width: 80%;
    }


}