.section-relatorio label{
    margin-left: 35px;
}

.btn-buscar-relatorio{
    background-color: var(--marino);
    color: var(--branco);
}

.btn-buscar-relatorio:hover{
    background-color: var(--ciano);
    padding-right: 25px;
    padding-left: 25px;
}

.btn-buscar-relatorio:active{
    background: var(--dourado);
    padding-right: 20px;
    padding-left: 20px;
}