#sobre_img{
    width: 100%;
    height: auto;
}

/* Seção de explicação da DENTECH */
#sobre_explanation{
    width: 100%;
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

#sobre_explanation_title{
    font-size: 48px;
    font-weight: bold;

    margin-top: 5rem;
    margin-bottom: 1rem;

    color: var(--verde);
}

#sobre_explanation_container{
    width: 85%;
    flex-shrink: 0;
}

#sobre_explanation_text{
    font-size: 25px;
    font-weight: 400;
    
    text-align: justify;
    line-height: 40px;

    color: var(--marino);
}



/* Seção dos propósitos */
#sobre_purposes{
    margin-top: 5rem;
    padding-bottom: 5rem;

    background: var(--gradiente2);

    display: flex;
    align-items: center;
    flex-direction: column;
}

#sobre_purposes_box_title{
    width: 85%;
    margin-top: 5rem;

    border-radius: 20px;
    background-color: var(--verde);
}

#sobre_porpuses_maintitle{
    padding: 1rem;
    
    color: var(--branco);
    
    font-size: 50px;
    text-align: center;
}

#sobre_purposes_container{
    width: 85%;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobre-purposes-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-purposes-midbox{
    height: 40%;
    padding: 20px;

    background-color: var(--verde);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sobre-purposes-title{
    font-size: 50px;
    font-weight: normal;

    padding-left: 20px;
    padding-right: 20px;

    color: var(--branco);
}

.sobre-purposes-column{
    width: 48%;
}

#sobre_purposes_box{
    padding: 20px;

    background-color: var(--verde);
    border-radius: 20px;
}

.sobre-purposes-text{
    font-size: 25px;
    font-weight: normal;

    line-height: 37px;

    padding-left: 20px;
    padding-right: 20px;

    color: var(--branco);
}

.sobre-purposes-box-text{
    width: 100%;
    margin-top: 20px;
}

.sobre-purposes-minitext{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 15px;

    line-height: 22px;
    color: var(--branco);
}



/* Seção que mostra os desenvolvedores */
#sobre_devs{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--gradiente1);

    margin-top: 5rem;
    border-radius: 10rem 10rem 0 0;
}

#sobre_devs_title{
    margin-top: 4rem;
    font-size: 50px;
    font-weight: normal;
    color: var(--marino);
}

#sobre_devs_row{
    width: 100%;

    margin-top: 3rem;
    margin-bottom: 5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


/* Responsividade */
@media(max-width: 1130px){
    /* Alteração na seção de propostas */
    #sobre_purposes_container{
        flex-direction: column;
    }

    .sobre-purposes-column{
        width: 100%;
    }

    .sobre-purposes-midbox{
        margin-bottom: 2rem;
    }

    .sobre-purposes-title{
        margin-bottom: 2rem;
    }
}



@media(max-width: 600px){
    /* Eliminando a imagem */
    #sobre_img{
        display: none;
    }

    #sobre_explanation{
        margin-top: 5rem;
    }
}



@media(max-width: 830px){
    /* Alteração no tamanho da fonte dos títulos e textos */
    #sobre_explanation_title{
        font-size: 25px;
        margin-top: 3rem;
    }
    
    #sobre_explanation_text{
        font-size: 15px;
        line-height: 25px;
    }

    #sobre_porpuses_maintitle{
        font-size: 25px;
    }

    .sobre-purposes-title{
        font-size: 25px;
    }
    
    .sobre-purposes-text{
        font-size: 20px;
        line-height: 30px;
    }

    
    #sobre_devs_title{
        font-size: 25px;
        text-align: center;
    }

    /* Alteração na borda da seção dos desenvolvedores */
    #sobre_devs{
        border-radius: 0;
    }
}

