.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 25px;

    border: 2px solid #0396a6;

    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
}