.filter-button{
    width: 18rem;
    height: 15rem;
    margin: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    border: none;
    border-radius: 10px;

    background-color: var(--cinza);
    transition: 0.2s ease;
    cursor: pointer;
}

.filter-button-text{
    font-size: 35px;
    font-weight: bold;

    color: var(--branco);
}


/* Cores do botão */
.filter-button-text-marino{
    color: var(--marino);
}

.filter-button-ciano{
    background-color: var(--ciano);
}

.filter-button-verde{
    background-color: var(--verde);
}

.filter-button-vermelho{
    background-color: var(--vermelho);
}



/* Efeitos do botão */
.filter-button:hover{
    opacity: 0.7;
}

.filter-button:active{
    opacity: 1;
}



/* Responsividade */
@media(max-width: 1465px){
    .filter-button{
        width: 15rem;
        height: 13rem;
    }
}

@media(max-width: 1255px){
    .filter-button{
        width: 11rem;
        height: 10rem;
    }

    .filter-button-text{
        font-size: 25px;
    }
}

@media(max-width: 970px){
    .filter-button{
        width: 9rem;
        height: 8rem;
        margin: 10px;
    }

    .filter-button-img{
        width: 2rem;
    }

    .filter-button-text{
        font-size: 20px;
    }
}

@media(max-width: 730px){
    .filter-button{
        width: 6rem;
        height: 5rem;
        margin: 10px;
    }

    .filter-button-img{
        width: 25px;
    }

    .filter-button-text{
        font-size: 10px;
        font-weight: normal;
    }
}
