.input{
    padding: 10px;
    font-size: 20px;
    
    outline: none;
    border-radius: 30px;
    border: 2px solid var(--marino);
}

.mid-input{
    width: 50%;
}

@media(max-width: 730px){
    .input{
        font-size: 13px;
    }
}