.fundo-modal{
    width: 100vw;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--transparente3);
    
    position: fixed;
    z-index: 3;
    left: 0; 
    top: 0;
}

.modal{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 70px;
    padding-bottom: 70px;

    background: var(--gradiente1);
    border-radius: 20px;

    z-index: 4;
}



/* Conteúdo do modal */
.modal-header{
    width: 75%;
    margin-bottom: 2rem;
}

.modal-title{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--branco);
}

.modal-text{
    color: var(--branco);
    font-size: 1rem;
}



.modal-input-box{
    width: 75%;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}

.modal-button-box{
    width: 75%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-button-marino{
    width: 10rem;
    height: 3rem;

    background-color: var(--marino);
    border: none;

    font-weight: bold;
    color: var(--branco);
}

.modal-button-cancel{
    width: 10rem;
    height: 3rem;

    background-color: var(--vermelho);
    border: none;

    font-weight: bold;
    color: var(--branco);
}