.fundo-modal{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--transparente3);
    
    position: fixed;
    z-index: 3;
    left: 0; 
    top: 0;
}

.modal{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 30px;

    background: var(--gradiente1);
    border-radius: 20px;

    z-index: 4;
}



/* Conteúdo do modal */
.modal-header{
    width: 75%;
    margin-bottom: 2rem;
}

.modal-title{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--branco);
}

.modal-text{
    color: var(--branco);
    font-size: 1rem;
}



.modal-input-box{
    width: 75%;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}

.modal-button-box{
    width: 75%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-button-marino{
    width: 10rem;
    height: 3rem;

    background-color: var(--marino);
    border: none;

    font-weight: bold;
    color: var(--branco);
}

.modal-button-cancel{
    width: 10rem;
    height: 3rem;

    background-color: var(--vermelho);
    border: none;

    font-weight: bold;
    color: var(--branco);
    margin: 0px 0px 0px 10px !important;
}

@media (max-width: 1000px) {
    .modal{
        width: 70%;
    }
}

@media(max-width: 730px){
    .modal-button-cancel{
        font-size: 13px;
        height: 2.5rem;
        width: 7rem;
    }

    .modal-button-marino{
        font-size: 13px;
        height: 2.5rem;
        width: 7rem;
    }
}

@media (max-width: 650px) {
    .modal{
        width: 90%;
    }

    .modal-title{
        font-size: 25px;
    }

    .modal-text{
        font-size: 12px;
    }
}

@media (max-width: 330px) {
    .modal{
        width: 100%;
        border-radius: 0;
    }

    .modal-title{
        font-size: 25px;
    }

    .modal-text{
        font-size: 12px;
    }
}