.plus-button{
    width: 50px;
    height: 50px;

    padding: 0;

    font-size: 40px;
    font-weight: bold;
    color: var(--branco);

    border: none;
    border-radius: 25px;
    
    background-color: var(--marino);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.plus-button-text{
    font-size: 20px;
    color: var(--marino);
}


/* Interações do botão */
.plus-button:hover{
    animation: girar180 0.5s ease-in-out;
}

.plus-button:not(:hover){
    transform: rotate(0deg);
    animation: girar180Reverso 0.5s ease-in-out;
}



/* Animações do botão */
@keyframes girar180 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}

@keyframes girar180Reverso {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }