.sobre-card{
    width: 18%;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    background: var(--gradiente2);
    border-radius: 20px;
    
    position: relative;
    bottom: 0rem;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.sobre-card-header{
    width: 70%;

    margin-top: 2rem;
    padding: 5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--transparente1);
    border-radius: 20px;
}

.sobre-card-img{
    margin-bottom: 20px;
    width: 70%;
}

.sobre-card-text{
    font-size: 30px;
}

.sobre-card-footer{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2rem;
}

.sobre-card-icon{
    width: 35%;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
}

.sobre-card:hover{
    background: var(--dourado);
    bottom: 1rem;
}

.sobre-card-icon:hover{
    width: 30%;
}

@media(max-width: 1130px){
    .sobre-card{
        width: 20rem;
        margin: 2rem;
    }
}

@media(max-width: 830px){
    .sobre-card{
        width: 20rem;
        margin: 2rem;
    }
}