.tabela-relatorio {
    width: 90%;
		/* Juntar as bordas da tabela*/
    border-collapse: collapse;
    display: none;
    margin-bottom: 50px;
}

table caption {
    caption-side: top;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

table td,
table th {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

thead td, thead th{
    background-color: var(--marino);
    color: var(--branco);
}

tfoot td, tfoot th{
    background: var(--ciano);
    color: var(--branco);
    text-align: start;
}

/* Deixando a div coma tabela dentro responsiva */
.responsiveTable{
    max-width: 100%;
    overflow-x: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

@media (max-width: 545px) {
    
    .responsiveTable{
        justify-content: flex-start;
    }

}
 